<tr>
	<td><a href="#" class="icon-remove delete-row"></a>{{ form_widget(form.borrower, { 'attr' : { 'class': 'span3 borrower-select' } }) }}</td>
	<td>{{ form_widget(form.institution_name, { 'attr' : { 'class': 'span2' } }) }}</td>
	<td>{{ form_widget(form.type, { 'attr' : { 'class': 'span2' } }) }}</td>
	<td>{{ form_widget(form.account_number, { 'attr' : { 'class': 'span3' } }) }}</td>
	<td>{{ form_widget(form.balance, { 'attr' : { 'class': 'span1-5' } }) }}</td>
</tr>