{% extends site.getThemeTemplate('fullwidth.html.twig') %}

{% block title %}Loan for {% if loanApp.propertyLocation %}{{ loanApp.propertyLocation.address1 }}{% else %}{{ loanApp.borrower.fullName }}{% endif %}{% endblock %}

{% block body_class %}page-member-portal{% endblock %}

{% block head %}
	{% include 'SudouxMortgageBundle:LoanApplicationShared:loanApplicationHead.html.twig' %}
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('_welcome') }}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
		<li><a href="{{ path('sudoux_cms_user_account') }}">My Account</a> <span class="divider">/</span></li>
		<li class="active">{{ block('title') }}</li>
	</ul>
{% endblock %}

{% block content %}
    {# modal windows #}
    {% include 'SudouxMortgageBundle:LoanApplicationShared:borrowerDetailModal.html.twig' with { borrower: loanApp.borrower } %}

    {% for borrower in loanApp.coBorrower %}
        {% include 'SudouxMortgageBundle:LoanApplicationShared:borrowerDetailModal.html.twig' with { borrower: borrower } %}
    {% endfor %}
    {% if loanApp.messageThread.message|length > 0 %}
        {% for message in loanApp.messageThread.message %}
            <div id="message-modal-{{ message.id }}" data-message-id="{{ message.id }}" data-loan-id="{{ loanApp.id }}" class="modal hide fade message-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Message from {{ message.user.fullName }}</h3>
                </div>
                <div class="modal-body">
                    <p><time datetime="{{ message.created|date('Y-m-d') }}"><small>Sent on {{ message.created|date(date_format) }} at {{ message.created|date('g:i A') }}</small></time></p>
                    <div class="message">
                        {{ message.message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


	{% set tab = app.request.get('tab') %}
    <ul class="nav nav-tabs">
	    <li {% if tab == null %}class="active"{% endif %}><a href="#loan-details" data-toggle="tab">Loan</a></li>
	    <li {% if tab == 'messages' %}class="active"{% endif %}><a href="#messages" data-toggle="tab">Messages</a></li>
	    {% if loanApp.isClientUser(app.user) == false %}<li {% if tab == 'detail' %}class="active"{% endif %}><a href="#detail" data-toggle="tab">Details</a></li>{% endif %}
    </ul>
    <div class="tab-content">
		<div class="tab-pane {% if tab == null %}active{% endif %}" id="loan-details">
			<div id="loan-summary" class="clearfix row-margin">
				{% if loanApp.completed and site.settings.inheritedShowLosMilestones and loanApp.milestoneGroup %}
					<div id="milestones">
					    <ul class="nav nav-list">
						    <li class="nav-header hide">{{ loanApp.milestoneGroup.name }}</li>
						    <li class="nav-header">Loan Milestones</li>
						    {% for milestone in loanApp.milestoneGroup.activeMilestones %}
						    	{% if milestone.weight < loanApp.milestone.weight %}
							    	<li><span class="badge badge-success"><i class="icon-white icon-check"></i></span> {{ milestone.milestoneName }}</li>
						    	{% else %}
							    	<li><span class="badge badge-warning"><i class="icon-white icon-time"></i></span> {{ milestone.milestoneName }}</li>
						    	{% endif %}
						    {% endfor %}
					    </ul>
				    </div>
				{% endif %}
				<div id="loan-officer-info">
					<h3>Loan Officer</h3>
					{% if loanApp.loanOfficer %}
                        {% if loanApp.loanOfficer.officerPhoto %}
                            <img src="{{ asset(loanApp.loanOfficer.officerPhoto.path) }}" class="officer-image img-polaroid" >
                        {% endif %}

                        <h4 class="media-heading">{{ loanApp.loanOfficer.fullName }}</h4>
                        <p>
                            {% if loanApp.loanOfficer.nmlsId %}NMLS ID: {{ loanApp.loanOfficer.nmlsId }}<br>{% endif %}
							{% if loanApp.loanOfficer.phoneOffice %}Office Phone: {{ loanApp.loanOfficer.phoneOffice|phoneNumber }}<br>{% endif %}
							{% if loanApp.loanOfficer.phoneMobile %}Mobile Phone: {{ loanApp.loanOfficer.phoneMobile|phoneNumber }}<br>{% endif %}
							{% if loanApp.loanOfficer.phoneTollfree %}Toll-free Phone: {{ loanApp.loanOfficer.phoneTollfree|phoneNumber }}<br>{% endif %}
							{% if loanApp.loanOfficer.fax %}Fax: {{ loanApp.loanOfficer.fax|phoneNumber }}<br>{% endif %}
                            Email: {{ loanApp.loanOfficer.email|mailTo|purify }}<br>
                        </p>
					{% else %}
						<p>No loan officer is associated with this loan.</p>
					{% endif %}
				</div>
				<div id="loan-detail-summary">
					<h3>Loan Details</h3>
					<p>
						<b>Loan ID: </b>#{{ loanApp.id }}<br>
						{% if loanApp.losLoanNumber %}<b>Loan Number: </b>{{ loanApp.losLoanNumber }}<br>{% endif %}
						<b>Status:</b> {{ loanApp.statusName }}<br>
						<b>Completed:</b> {{ loanApp.completedDate|date(date_format) }}<br>
						<b>Borrower:</b> {{ loanApp.borrower.fullName }}<br>
						{% for coborrower in loanApp.coborrower %}
							<b>Co-Borrower:</b> {{ coborrower.fullName }}<br>
						{% endfor %}
						<b>Loan Amount:</b> ${{ loanApp.loanAmount|number_format }}<br>
						{% if loanApp.propertyLocation %}
							<b>Property:</b><br>
							{{ loanApp.propertyLocation.address1 }}<br>
							{{ loanApp.propertyLocation.city }}, {{ loanApp.propertyLocation.state.abbreviation }} {{ loanApp.propertyLocation.zipcode }}<br>
						{% endif %}
						{% if loanApp.referralSource|length > 0 %}
							<b>Referral Sources:</b>
							<ul>
								{% for source in loanApp.referralSource %}
									<li>{{ source.name }}</li>
								{% endfor %}
							</ul>

						{% endif %}
						<small class="muted">Last Modified: {{ loanApp.modified|date(date_format) }}</small><br>
						<small class="muted">Source: {{ loanApp.sourceName }}</small>
					</p>
					{% if loanApp.completed == false %}
						<div class="submit-wrapper">
							<a href="{{ path('sudoux_mortgage_loan_apply_step1', { id: loanApp.id }) }}" class="btn btn-default">Complete Application</a>
						</div>
					{% endif %}
				</div>
			</div>

			{% if site.settings.inheritedMemberPortalDocumentsEnabled and loanApp.isClientUser(app.user) == false %} {# client users cannot access docs #}
				{% if loanApp.document|length > 0 %}
					<div class="row-margin">
						<h3>Documents</h3>
						<table class="table table-striped">
							<thead>
								<th>Name</th>
								<th class="hidden-phone">Category</th>
								<th>Created</th>
								<th>User</th>
								<th>Status</th>
								<th>Action</th>
							</thead>
							<tbody>
								{% for document in loanApp.document %}
									<tr>
										<td>{{ document.name }}</td>
										<td class="hidden-phone">
											{% if document.type %}{{ document.type.term }}{% else %}None{% endif %}
										</td>
										<td>{{ document.created|date(date_format) }}</td>
										<td>{% if document.file %}{{ document.file.user.username }}{% else %}{{ site.settings.los.losProvider.name }}{% endif %}</td>
										<td class="status">{{ document.statusName }}</td>
										<td>
											{% if document.file %}
												<a href="{{ path('sudoux_mortgage_loan_document_view', { loanId: loanApp.id, documentId: document.id }) }}" target="_blank"><span class="icon-download"></span> Download</a>
											{% else %}
												<a href="#document-download-{{ document.id }}" data-loan-id="{{ loanApp.id }}" data-document-id="{{ document.id }}" class="set-los-file"><span class="icon-download"></span> Download</a>
												<a id="document-download-{{ document.id }}" href="{{ path('sudoux_mortgage_loan_document_view', { loanId: loanApp.id, documentId: document.id }) }}" class="hide" target="_blank"><span class="icon-download"></span> Download</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}

				<div class="row-margin clearfix">
					<div class="span-half">
						<h3>Upload Document</h3>
						<form id="upload-document-form" action="{{ path('sudoux_mortgage_loan_member_detail', { id: loanApp.id, form: 'document' }) }}" class="form-horizontal" method="post" {{ form_enctype(documentForm) }} novalidate="novalidate">
							<div class="control-group">
								{{ form_label(documentForm.name, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
								<div class="controls">
									{{ form_widget(documentForm.name) }}
								</div>
							</div>
							{% if documentChecklist.taxonomy|length > 0 %}
								<div class="control-group">
									{{ form_label(documentForm.type, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
									<div class="controls">
										{{ form_widget(documentForm.type) }}
									</div>
								</div>
							{% endif %}
							<div class="control-group">
								{{ form_label(documentForm.file_field, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
								<div class="controls">
									{{ form_widget(documentForm.file_field) }}
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<div class="hide">{{ form_rest(documentForm) }}</div>
									<input name="submit" type="submit" value="Add Document" class="btn btn-default">
								</div>
							</div>
						</form>
					</div>
					<div class="span-half">
						{% if documentChecklist.taxonomy|length > 0 %}
							<div class="well">
								<h3>Document Checklist</h3>
								<ul class="bare">
									{% for term in documentChecklist.taxonomy %}
										<li>{% if loanApp.hasDocumentTaxonomy(term, 3) %}<i class="icon-ok"></i>{% else %}<i class="icon-time"></i>{% endif %} {{ term.term }}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
			{# <div class="row row-margin">
				<div class="span12">
					<h3>Emails</h3>
					{% if loanApp.email|length > 0 %}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Subject</th>
									<th class="hidden-phone">Recipient</th>
									<th class="hidden-phone">Status</th>
									<th>Date Sent</th>
									<th class="hidden-phone">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for email in loanApp.email %}
									<tr>
										<td>{{ email.subject }}</td>
										<td class="hidden-phone">{{ email.recipient }}</td>
										<td class="hidden-phone">{{ email.statusName }}</td>
										<td>{{ email.created|date(date_format) }}</td>
										<td class="hidden-phone"><a h href="#email-message-modal-{{ email.id }}" role="button" class="btn btn-default" data-toggle="modal">View</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% for email in loanApp.email %}
						    <div id="email-message-modal-{{ email.id }}" class="modal large hide fade" >
							    <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								    <h3>{{ email.subject }}</h3>
							    </div>
							    <div class="modal-body">
							    	<iframe src="{{ path('sudoux_cms_admin_message_iframe', { id: email.id }) }}" border="0" width="100%" height="600px"></iframe>
							    </div>
							    <div class="modal-footer">
								    <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
							    </div>
						    </div>
						{% endfor %}
						
					{% else %}
						<p>No emails have been sent.</p>
					{% endif %}
				</div>
			</div> #}
			{% if loanApp.borrower.creditReport %}
				<div id="credit-scores-wrapper" class="row-margin">
					<table id="credit-scores-table" class="table">
						<thead>
							<tr>
								<th><h3>Borrower</h3></th>
								<th><img src="{{ asset('bundles/sudouxmortgage/img/logo-experian.png')  }}" alt="Experian"></th>
								<th><img src="{{ asset('bundles/sudouxmortgage/img/logo-transunion.gif')  }}" alt="TransUnion"></th>
								<th><img src="{{ asset('bundles/sudouxmortgage/img/logo-equifax.png')  }}" alt="Equifax"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><h4>{{ loanApp.borrower.fullName }}</h4></td>
								<td class="experian">{{ loanApp.borrower.creditReport.experianScore }}</td>
								<td class="transunion">{{ loanApp.borrower.creditReport.transunionScore }}</td>
								<td class="equifax">{{ loanApp.borrower.creditReport.equifaxScore }}</td>
								<td class="text-center">
									{% if loanApp.borrower.creditReport.reportFile %}
										<a href="{{ path('sudoux_cms_admin_file_private', { id: borrower.creditReport.reportFile.id }) }}" target="_blank"><i class="icon-download"></i> Download</a>
									{% endif %}
								</td>
							</tr>
							{% for coBorrower in loanApp.coBorrower %}
								<tr>
									<td><h4>{{ coBorrower.fullName }}</h4></td>
									<td class="experian">{{ coBorrower.creditReport.experianScore }}</td>
									<td class="transunion">{{ coBorrower.creditReport.transunionScore }}</td>
									<td class="equifax">{{ coBorrower.creditReport.equifaxScore }}</td>
									<td class="text-center">
									{% if coBorrower.creditReport.reportFile %}
										<a href="{{ path('sudoux_cms_admin_file_private', { id: coBorrower.creditReport.reportFile.id }) }}" target="_blank"><i class="icon-download"></i> Download</a>
									{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
		</div>
		<div class="tab-pane {% if tab == 'messages' %}active{% endif %}" id="messages">
			<div class="row-margin">
				<h3>Messages</h3>
				{% if loanApp.messageThread %}
					{% if loanApp.messageThread.message|length > 0 %}
						{% for message in loanApp.messageThread.message %}
						    <div id="message-modal-{{ message.id }}" data-message-id="{{ message.id }}" data-loan-id="{{ loanApp.id }}" class="modal hide fade message-modal">
							    <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								    <h3>Message from {{ message.user.fullName }}</h3>
						    	</div>
						    	<div class="modal-body">
						    		<p><time datetime="2009-11-13"><small>Sent on {{ message.created|date(date_format) }} at {{ message.created|date('g:i A') }}</small></time></p>
						    		<div class="message">
						    			{{ message.message }}
					    			</div>
					    		</div>
						    </div>
						{% endfor %}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Sender</th>
									<th>Message</th>
									<th>Status</th>
									<th>Date Sent</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for message in loanApp.messageThread.message %}
									<tr>
										<td>{{ message.user.fullName }}</td>
										<td>{{ message.message|slice(0,25) }}...<a href="#message-modal-{{ message.id }}" role="button" data-toggle="modal" class="btn-view-message">Read More</a></td>
										<td id="message-status-{{ message.id }}">
											{% set statusClass = 'label-info' %}
											{% if message.status == 0 %}
												{% set statusClass = 'label-success' %}
											{% endif %}
											<span class="label {{ statusClass }}">{{ message.statusName }}</span>
										</td>
										<td>{{ message.created|date(date_format) }}</td>
										<td><a href="#message-modal-{{ message.id }}" role="button" data-toggle="modal" data-message-id="{{ message.id }}" class="btn btn-default btn-view-message">View</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				{% else %}
					<p>No messages available.</p>
				{% endif %}
			</div>
			<div class="row-margin">
				<form id="send-message-form" action="{{ path('sudoux_mortgage_loan_member_detail', { id: loanApp.id, form: 'message' }) }}" method="post" {{ form_enctype(documentForm) }} novalidate="novalidate">
					{{ form_widget(messageForm.message, { 'attr': { 'placeholder': 'Add Message', 'required': 'required' } }) }}<br>
					<div class="hide">{{ form_rest(messageForm) }}</div>
					<input name="submit" type="submit" value="Send" class="btn btn-default">
				</form>
			</div>
		</div>
		{% if loanApp.isClientUser(app.user) == false %}
			<div class="tab-pane {% if tab == 'detail' %}active{% endif %}" id="detail">
				{% include 'SudouxMortgageBundle:LoanApplicationShared:loanFullSummary.html.twig' with { application: loanApp, form: loanForm } %}
			</div>
		{% endif %}
	</div>
{% endblock %}
