{% extends site.getAdminThemeTemplate %}

{% block title %}Edit Branch{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('sudoux_cms_admin_business_home') }}">Business</a> <span class="divider">/</span></li>
		<li><a href="{{ path('sudoux_mortgage_admin_branch') }}">Branches</a> <span class="divider">/</span></li>		
		<li class="active">Edit Branch</li>
	</ul>
{% endblock %}

{% block content %}
	<form action="{{ path('sudoux_mortgage_admin_branch_edit', { id: branch.id }) }}" class="form-horizontal" method="post" {{ form_enctype(form) }} novalidate="novalidate">
		{% include 'SudouxMortgageBundle:BranchAdmin:formContent.html.twig' %}
		<div class="control-group">
			<div class="controls">
		    	<input type="submit" value="Update" class="btn"> <a href="{{ path('sudoux_mortgage_admin_branch') }}">Cancel</a>
			</div>
		</div>
	</form>
{% endblock %}
