{% extends site.getAdminThemeTemplate %}

{% block title %}Add Loan Officer{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('sudoux_cms_admin_people_home') }}">People</a> <span class="divider">/</span></li>
		<li><a href="{{ path('sudoux_mortgage_admin_loan_officer') }}">Loan Officers</a> <span class="divider">/</span></li>
		<li class="active">Add Loan Officer</li>
	</ul>
{% endblock %}

{% block content %}
	{% if site.settings.autoCreateSites %}
		<div class="alert alert-info">
			Auto creation of sites is enabled. A website will be created for this loan officer automatically.
		</div>
	{% endif %}
	<form action="{{ path('sudoux_mortgage_admin_loan_officer_add') }}" class="form-horizontal" method="post" {{ form_enctype(form) }} novalidate="novalidate">
		{% include 'SudouxMortgageBundle:LoanOfficerAdmin:formContent.html.twig' %}
		<div class="control-group">
			<div class="controls">
		    	<input type="submit" value="Add" class="btn"> <a href="{{ path('sudoux_cms_admin_people_home') }}">Cancel</a>
			</div>
		</div>
	</form>
{% endblock %}
