{% extends site.getThemeTemplate %}

{% block title %}Standard vs. Bi-Weekly{% endblock %}

{% block body_class %}page-mortgage-calculator{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('sudoux_mortgage_calculator') }}">Mortgage Calculators</a> <span class="divider">/</span></li>	
		<li class="active">{{ block('title') }}</li>
	</ul>
{% endblock %}

{% block content %}
	<iframe id="iframe_calculator" width="100%" height="1200" style="border: 0px" scrolling="yes" frameborder="0" src="{{ calculator_url }}/website/includes/plugins/calculators/standard-vs-bi-weekly-calculator.php"></iframe>
    {#<form action="{{ path('sudoux_mortgage_calculator_loan_interval') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        <div class="row">
            <div class="span4 offset4">
                <h3>Loan Information</h3>
                <div class="form-horizontal">
                    <div class="control-group">
                        {{ form_label(form.loan_amount, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.loan_amount) }}
                    </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.interest_rate, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.interest_rate) }} %
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.mortgage_term, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.mortgage_term) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.interest_compounded, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls radio-group">
                            {{ form_widget(form.interest_compounded) }}
                        </div>
                    </div>
                    <h3>Your Tax Rate</h3>
                    <div class="control-group">
                        {{ form_label(form.tax_rate, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.tax_rate) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="span12">
                <div class="submit-wrapper text-center">
                    <div class="hide">{{ form_rest(form) }}</div>
                    <input type="submit" value="Calculate" class="btn">
                </div>
            </div>
        </div>
    </form>#}
{% endblock %}