{% extends site.getAdminThemeTemplate('fullwidth.html.twig') %}

{% block title %}Loan Application{% endblock %}

{% block body_class %}page-loan-apply step3{% endblock %}

{% block head %}
	{% include 'SudouxMortgageBundle:LoanApplicationShared:loanApplicationHead.html.twig' %}
{% endblock %} 

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('sudoux_mortgage_admin_loan') }}">Loan Applications</a> <span class="divider">/</span></li>
		<li class="active">{{ block('title') }}</li>
	</ul>
{% endblock %}

{% block content %}
	{% include 'SudouxMortgageBundle:LoanApplicationAdmin:applicationNav.html.twig' with { step: 3, application: application } %}
	<p>One of the things considered when you apply for a mortgage is the relationship of your income to your expenses. In this section of the application, we'll ask the sources and amounts of your income. </p>
	<form action="{{ path('sudoux_mortgage_admin_loan_step3', { id: application.id }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="loan-application-form">
		<div class="errors">{{ form_errors(form) }}</div>
		{% include 'SudouxMortgageBundle:LoanApplicationAdmin:applicationFormTop.html.twig' %}
		
		{% include 'SudouxMortgageBundle:LoanApplicationShared:employment.html.twig' %}

		<div class="text-center submit-wrapper">
			<div class="hide">
				{{ form_rest(form) }}
			</div>
	    	<a href="{{ path('sudoux_mortgage_admin_loan_step2', { id: application.id }) }}" class="btn btn-default">Back</a> <button type="submit" class="btn btn-default">Save and Continue <span class="icon-ok-sign icon-white"></span></button>
	    </div>
	</form>
{% endblock %}