<tr>
	<td><a href="#" class="icon-remove delete-row"></a>{{ form_widget(form.borrower, { 'attr' : { 'class': 'span2 borrower-select' } }) }}</td>
	<td>{{ form_widget(form.base, { 'attr' : { 'class': 'span1-5' } }) }}</td>
	<td>{{ form_widget(form.overtime, { 'attr' : { 'class': 'span1-5' } }) }}</td>
	<td>{{ form_widget(form.bonus, { 'attr' : { 'class': 'span1-5' } }) }}</td>
	<td>{{ form_widget(form.commission, { 'attr' : { 'class': 'span1-5' } }) }}</td>
	<td>{{ form_widget(form.interest, { 'attr' : { 'class': 'span1-5' } }) }}</td>
	<td>{{ form_widget(form.rent_net, { 'attr' : { 'class': 'span1-5' } }) }}</td>
	<td>{{ form_widget(form.other, { 'attr' : { 'class': 'span1-5' } }) }}</td>
</tr>